body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 0;
}

header {
    background-color: #343a40; 
    color: #ffffff; 
    padding: 15px;
    text-align: center;
}

footer {
    background-color: #343a40; 
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
}

#userProfile {
    background-color: #ffffff; 
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

strong {
    color: #343a40; 
}

#profileImageInput {
    margin-top: 10px; 
}

#profileImage {
    cursor: pointer; 
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #343a40; 
    display: none; 
    margin-top: 10px; 
}
